.form {
  padding: 20px 15px;
  overflow: auto;
  zoom: 1;
  position: relative;
  z-index: 2;

  &__tittle {
    text-transform: uppercase;
    color: #f5856d;
  }

  &__review {
    width: 100%;
    padding: 10px 15px;
    border-radius: 20px;
    border: 1px solid #f0f0f0;
    resize: none;
    height: 100px;
    outline: none;
    font-size: 12px;
  }

  &__input {
    width: 100%;
    color: #9f9f9f;
    padding: 5px 10px;
    border-radius: 15px;
    border: 1px solid #f0f0f0;
    outline: none;
    font-size: 12px;
    margin-bottom: 10px;
    &:focus {
      border: 1px solid #9f9f9f;
    }
  }

  &__likes {
      display: flex;
      align-items: center;
      margin: 0 0 10px;
  }


}





::-webkit-input-placeholder {
  color: #ccc;
  text-indent: 0;
  -webkit-transition: opacity .75s;
  transition: opacity .75s;
}

::-moz-placeholder {
  color: #ccc;
  text-indent: 0;
  -webkit-transition: opacity .75s;
  transition: opacity .75s;
}

:-ms-input-placeholder {
  color: #ccc;
  text-indent: 0;
  -webkit-transition: opacity .75s;
  transition: opacity .75s;
}

::placeholder {
  color: #ccc;
  text-indent: 0;
  -webkit-transition: opacity .75s;
  transition: opacity .75s;
}

:focus::-webkit-input-placeholder {
  text-indent: 100%;
  opacity: 0;
  -webkit-transition: opacity .5s, text-indent 1s;
  transition: opacity .5s, text-indent 1s;
}

:focus::-moz-placeholder {
  text-indent: 100%;
  opacity: 0;
  -webkit-transition: opacity .5s, text-indent 1s;
  transition: opacity .5s, text-indent 1s;
}

:focus:-ms-input-placeholder {
  text-indent: 100%;
  opacity: 0;
  -webkit-transition: opacity .5s, text-indent 1s;
  transition: opacity .5s, text-indent 1s;
}

:focus::placeholder {
  text-indent: 100%;
  opacity: 0;
  -webkit-transition: opacity .5s, text-indent 1s;
  transition: opacity .5s, text-indent 1s;
}