@import 'components/map.scss';
@import 'components/reviewContainer.scss';
@import 'components/reviewForm.scss';
@import 'components/carousel.scss';

* {
  box-sizing: border-box;
}

li {
  list-style: none;
}

.container {
  width: 100%;
}